@import url("./common.css");
:root {
}
/* Banner css */
#bannerPart {
  height: 100vh;
  background-image: url(../Images/hero_2.jpg);
  background-size: cover;
  background-position: center;
  padding: 250px 0;
}
.customBanner {
  background-color: rgba(0, 0, 0, 0.8);
  opacity: 0.6;
  padding: 30px 0;
  width: 100%;
}

.custBtn:hover {
  background-color: #ffffff;
}

@media only screen and(width:200px) and (width: 575px) {
  .headingOne {
    font-size: 32px;
  }
}
/* =====Medium Devices===== */
@media only screen and(min-width:576px) and (max-width: 767px) {
  /* .headingOne {
    font-size: 32px;
  } */
}
