@import url("./common.css");
:root {
}
/* Banner css */
#bannerPart {
  height: 100vh;
  background-image: url(../Images/hero_2.jpg);
  background-size: cover;
  background-position: center;
  padding: 250px 0;
}
.customBanner {
  background-color: rgba(0, 0, 0, 0.8);
  opacity: 0.6;
  padding: 30px 0;
  width: 100%;
}

.custBtn:hover {
  background-color: #ffffff;
}

/* =====Product css===== */
.hoverImg {
  overflow: hidden;
}
.hoverImg img {
  transition: all linear 0.4s;
}
.hoverImg:hover img {
  transform: scale(1.3);
  transition: all linear 0.4s;
}
